{{- $url := urls.Parse .Destination -}}
{{- $src := $url.String -}}
{{- $resource := false -}}
{{- if not $url.IsAbs -}}
  {{- $resource = partial "image-resource.html" (dict "page" .PageInner "path" $url.Path) -}}
  {{- with $resource }}{{ $src = .RelPermalink }}{{ end -}}
  {{- with $url.RawQuery }}{{ $src = printf "%s?%s" $src . }}{{ end -}}
  {{- with $url.Fragment }}{{ $src = printf "%s#%s" $src . }}{{ end -}}
{{- end -}}
{{- partial "responsive-image.html" (dict
  "resource" $resource
  "src" $src
  "alt" .Text
  "loading" "lazy"
  "attributes" .Attributes
) -}}
