{{ define "main" }}
<article class="home-window desk-window about-window" data-house-window data-active-hour="noon">
  <div class="home-scene has-scrim" data-house-scene>
    {{ partial "house-layer.html" (dict "hour" "noon" "path" "images/about/noon.jpg" "alt" (i18n "tabletop_noon_alt")) }}
    {{ partial "house-layer.html" (dict "hour" "dusk" "path" "images/about/dusk.jpg" "lamp" "on" "alt" (i18n "tabletop_dusk_alt")) }}
    {{ partial "house-layer.html" (dict "hour" "midnight" "path" "images/about/midnight.jpg" "lamp" "on" "alt" (i18n "tabletop_midnight_alt")) }}
    {{ partial "house-layer.html" (dict "hour" "dusk" "path" "images/about/dusk-off.jpg" "lamp" "off" "alt" (i18n "tabletop_dusk_off_alt")) }}
    {{ partial "house-layer.html" (dict "hour" "midnight" "path" "images/about/midnight-off.jpg" "lamp" "off" "alt" (i18n "tabletop_midnight_off_alt")) }}
    <div class="scene-objects">
      <button class="desk-lamp" data-desk-lamp hidden type="button" aria-label="{{ i18n "desk_lamp" }}" aria-pressed="true">
      </button>
    </div>
  </div>
  <div class="home-words">
    <h1>{{ .Title }}</h1>
    <div class="home-intro">{{ .Content }}</div>
    <p class="about-write" id="escreva">
      <a href="mailto:fariablog1@gmail.com">fariablog1@gmail.com</a>
    </p>
  </div>
  {{ partial "site-nav.html" . }}
</article>
{{ end }}
