{{ define "main" }}
{{- $posts := sort (where .Site.RegularPages "Section" "in" site.MainSections) "Date" "desc" -}}
<article>
  {{ partial "aux-header.html" (dict "kicker" (i18n "chronological_index") "title" .Title "subtitle" (printf "%d %s" (len $posts) (i18n "documents"))) }}
  <section aria-label="{{ .Title }}">
    {{- range $year := $posts.GroupByDate "2006" }}
    <section>
      <h2>{{ $year.Key }} <sup>{{ len $year.Pages }}</sup></h2>
      {{- range $month := $year.Pages.GroupByDate "2006-01" }}
      {{- $first := index $month.Pages 0 }}
      <h3>{{ i18n (printf "month_%d" $first.Date.Month) }}</h3>
      <ul>
        {{- range sort $month.Pages "Date" "desc" }}
        <li>
          <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02" }}</time> —
          <a href="{{ .RelPermalink }}">{{ .Title }}</a> · {{ .ReadingTime }} {{ i18n "reading_time" }}
        </li>
        {{- end }}
      </ul>
      {{- end }}
    </section>
    {{- end }}
  </section>
</article>
{{ end }}
