{{ define "main" }}
{{- $pages := sort .Pages "Date" "desc" -}}
{{- $paginator := .Paginate $pages -}}
<article>
  {{ partial "aux-header.html" (dict "kicker" (i18n "thematic_index") "title" .Title "subtitle" (printf "%d %s" (len $pages) (i18n "documents"))) }}
  <section aria-label="{{ .Title }}">
    {{- range $paginator.Pages }}
      {{- partial "publication-entry.html" (dict "page" . "showSummary" true) -}}
    {{- end }}
    {{ partial "pagination.html" $paginator }}
  </section>
</article>
{{ end }}
