{{ define "main" }}
<article>
  {{ partial "aux-header.html" (dict "kicker" (i18n "thematic_index") "title" (i18n "nav_subjects") "subtitle" (printf "%d %s · %d %s" (len .Data.Terms) (i18n "terms") (len .Site.RegularPages) (i18n "documents"))) }}
  <section aria-label="{{ i18n "nav_subjects" }}">
    {{- range $term := .Data.Terms.Alphabetical }}
    <article id="{{ $term.Page.Title | urlize }}">
      <h2><a href="{{ $term.Page.RelPermalink }}">{{ $term.Page.Title }}</a> <sup>{{ $term.Count }}</sup></h2>
      <ul>
        {{- range sort $term.Pages "Date" "desc" }}<li><a href="{{ .RelPermalink }}">{{ .Title }}</a><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006" }}</time></li>{{ end }}
      </ul>
    </article>
    {{- end }}
  </section>
</article>
{{ end }}
