{{ if .Site.Params.disqusShortname }}
<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = "{{ .Permalink }}"; // URL dinâmica do post
    this.page.identifier = "{{ .File.UniqueID }}"; // Identificador único
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ .Site.Params.disqusShortname }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    s.async = true; // Carrega assincronamente para otimização
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{ end }}