<section class="discussion-sheet" aria-labelledby="discussion-title" data-comments-section data-disqus-shortname="{{ site.Params.disqusShortname }}" data-disqus-url="{{ .Permalink }}" data-disqus-identifier="{{ .File.UniqueID }}">
  <header class="discussion-header"><span>FariaBlog</span><span>{{ i18n "discussion" }}</span></header>
  <div class="discussion-body">
    <p class="document-id">{{ i18n "discussion" | upper }}</p>
    <h2 id="discussion-title">{{ i18n "discussion" }}</h2>
    <p>{{ i18n "discussion_intro" }}</p>
    <button class="load-comments" type="button" data-load-comments>{{ i18n "load_comments" }}</button>
    <div id="disqus_thread" data-disqus-thread hidden></div>
    <noscript>{{ i18n "comments_no_script" }}</noscript>
  </div>
  <footer class="discussion-footer"><span>fariablog.com</span><span>Disqus</span></footer>
</section>
