{{- $id := .id -}}
<div class="search-suggestions" id="{{ $id }}" role="listbox" hidden>
  {{- $index := 0 -}}
  {{- range sort (where .site.RegularPages "Section" "in" .site.MainSections) "Title" }}
  <button type="button" id="{{ $id }}-option-{{ $index }}" role="option" data-value="{{ .Title }}">{{ .Title }}</button>
  {{- $index = add $index 1 -}}
  {{- end }}
  {{- range .site.Taxonomies.tags.Alphabetical }}
  <button type="button" id="{{ $id }}-option-{{ $index }}" role="option" data-value="{{ .Page.Title }}">{{ .Page.Title }}</button>
  {{- $index = add $index 1 -}}
  {{- end }}
</div>
